---
layout: home
---

<div class="index-content blog">
    <div class="section">
        <ul class="artical-cate">
            <li class="on"><a href="/"><span>技术</span></a></li>
            <li style="text-align:center"><a href="/opinion"><span>生活</span></a></li>
            <li style="text-align:right"><a href="/me"><span>关于我</span></a></li>
        </ul>

        <div class="cate-bar"><span id="cateBar"></span></div>

        <ul class="artical-list">
        {% for post in site.categories.blog %}
            <li>
                <h3><a href="{{ post.url }}">{{ post.title }} - <span>{{ post.date | date: "%Y-%m-%d" }}</span></a></h3>
                <div class="title-desc">{{ post.description }}</div>
            </li>
        {% endfor %}
		
		<div id="post-pagination" class="pagination">
		  {% if paginator.previous_page %}
		  <p class="previous">
			{% if paginator.previous_page == 1 %}
			<a href="/">Previous</a>
			{% else %}
			<a href="/page{{paginator.previous_page}}">Previous</a>
			{% endif %}
		  </p>
		  {% else %}
		  <p class="previous disabled">
			<span>Previous</span>
		  </p>
		  {% endif %}

		  <ul class="pages">
			<li class="page">
			  {% if paginator.page == 1 %}
			  <span class="current-page">1</span>
			  {% else %}
			  <a href="/">1</a>
			  {% endif %}
			</li>

			{% for count in (2..paginator.total_pages) %}
			<li class="page">
			  {% if count == paginator.page %}
			  <span class="current-page">{{count}}</span>
			  {% else %}
			  <a href="/page{{count}}">{{count}}</a>
			  {% endif %}
			</li>
			{% endfor %}
		  </ul>

		  {% if paginator.next_page %}
		  <p class="next">
			<a href="/page{{paginator.next_page}}">Next</a>
		  </p>
		  {% else %}
		  <p class="next disabled">
			<span>Next</span>
		  </p>
		  {% endif %}

		</div>
        </ul>
    </div>
    <div class="aside">
    </div>
</div>
